{% extends 'staff_template/base_template.html' %}
{% block page_title %}
Home
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <h1>Hello</h1>
        <img src="plot2" alt="some text to display to your users when the image does not show correctly" width=500 height=auto />
        <img src="https://img.freepik.com/free-photo/surprised-excited-woman_23-2147653636.jpg?size=626&ext=jpg" alt="nahah">
      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}
